* {
    margin: 1;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #8DBAF6;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 100%;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 0.4px solid #FFF2E7;
}

.cabecalho-img {
    height: 40px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item {
    font-size: 18px;
    color: white;
}

.cabecalho-menu-item:hover {
    color: #FFD647;
}

.conteudo {
    margin-top: 20px;
}

.conteudo-principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.conteudo-texto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.conteudo-principal-titulo,
.conteudo-principal-subtitulo {
    text-align: left;
}

.conteudo-principal-titulo {
    font-size: 36px;
}

.conteudo-principal-subtitulo {
    font-size: 24px;
}

.conteudo-principal-titulo,
.conteudo-principal-subtitulo {
    text-align: left;
}

.conteudo-img {
    width: 100%;
    height: 100%;
    align-items: center;
}

.conteudo-principal-botao {
    background-color: #FFDC62;
    font-family: 'Inter', sans-serif;
    width: 140px;
    height: 60px;
    border-radius: 15px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.15);
    font-size: 17px;
    margin-top: 20px;
}

.conteudo-principal-botao:hover {
    background-color: #FFD647;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid #FFF2E7;
    padding-top: 20px;
    margin-bottom: 15px;
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;
    padding-top: 20px;
}

.rodape-img {
    height: 50px;
    display: block;
    margin: 0 auto;
}
